<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FourWheels</title>
    @Styles.Render("~/Content/css")
</head>
<body id="welcomePage">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FourWheels", "HomeIndex", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "HomeIndex", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Browse Car Ads", "BrowseCarAds", "CarAd", new { area = "" }, null)</li>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Delete users", "DeleteUsers", "Admin", new { area = "Admin" }, null)</li>
                    }s
                    @if (this.User.Identity.IsAuthenticated && !this.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add ad", "AddAd", "CarAd", new { area = "" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FourWheels</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap") 

    @Html.Kendo().DeferredScripts()

    @RenderSection("scripts", required: false)
</body>
</html>
